/***** Font *****/

body {
	font-family: Arial, Verdana, sans-serif;
}

/***** Colors *****/

body {
	border: 2px solid #363B48;
	background-color: #F4F5F0;
	padding: 10px;
}

h1, h2, h3 {
	color: #1E4477;
}

p {
	color: A09F9C;
}

strong {
	color: #DC343B;
}

em {
	color: #363B48;
}

/***** Text Styling *****/

h1 {
	font-family: Gill Sans, Arial, sans-serif;
	font-size: 4.0em;
	text-transform: uppercase;
	text-align: center;
}

h2 {
	font-family: Gill Sans, Arial, sans-serif;
	font-size: 2.5em;
	text-transform: uppercase;
	text-align: center;
}

h3 {
	font-family: Gill Sans, Arial, sans-serif;
	font-size: 1.5em;
	text-transform: uppercase;
	text-align: center;
	
}	
}